language: php
php:
  - 5.2
  - 5.3
  - 5.4
  - 5.5
env:
  matrix:
    - DATABASE_DSN=pgsql:user=postgres
    - DATABASE_DSN=sqlite:$PWD/default.sqlite3
  global:
    - CODECLIMATE_REPO_TOKEN=9658592d8dd523c19a2da3858a8ba5f0a623d7be56aaf75e7188ae4e0fb7cdcf 
before_install:
  - composer self-update; true
before_script:
  - if [ $(phpenv version-name) = 5.2 ]; then echo "zend_extension = xdebug.so" >> ~/.phpenv/versions/5.2/etc/php.ini; fi
  - if [ $(phpenv version-name) = 5.2 ]; then pear install phpunit/DbUnit; fi
  - (cd cli; composer install)
  - (cd cli; vendor/bin/phpmig migrate)
script:
  - mkdir -p build/logs
  - phpunit
after_script:
  - (cd cli; vendor/bin/coveralls -v)
  - cli/vendor/bin/test-reporter
cache:
  directories:
    - vendor
    - dbmigrate/vendor
    - $HOME/.composer
