<phpunit bootstrap="application/bootstrap_unittest.php">
	<testsuites>
		<testsuite name="Schema Integration Tests">
			<directory>application/tests/schema/</directory>
		</testsuite>
		<testsuite name="Controller Integration Tests">
			<directory>application/tests/controller/</directory>
		</testsuite>
		<testsuite name="Route Unit Tests">
			<directory>application/tests/Route/</directory>
		</testsuite>
	</testsuites>
</phpunit>
