<phpunit bootstrap="index.php">
	<testsuites>
		<testsuite name="Model Unit Tests">
			<directory>application/tests/model/</directory>
		</testsuite>
		<testsuite name="Schema Integration Tests">
			<directory>application/tests/schema/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
