<phpunit bootstrap="application/bootstrap_unittest.php">
	<testsuites>
		<testsuite name="Model Unit Tests">
			<directory>application/tests/model/</directory>
		</testsuite>
		<testsuite name="Schema Tests">
			<directory>application/tests/schema/</directory>
		</testsuite>
		<testsuite name="Controller Tests">
			<directory>application/tests/controller/</directory>
		</testsuite>
	</testsuites>
</phpunit>
